.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  border: 1px solid red;
  height: 200px;
  padding: 30px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-container {
  display: flex;
  justify-content: center;
}

.sliders {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

